<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Basic</title>
</head>
<body> 
    <p>Nama : <%=name %></p>
    <p>Umur : <%=Umur %></p>
    <p>Alamat : <%=alamat %></p>

    <% for(let i=0; i< Buah.length; i++){ %>
        <p><%= Buah[i].name %></p>
    <% } %>
</body>
</html>